version: '3'
services:
  webapp:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5226:80"
    depends_on:
      - sqlserver
  sqlserver:
    image: "mcr.microsoft.com/azure-sql-edge"
    environment:
      MSSQL_SA_PASSWORD: "P@55w0rD"
      ACCEPT_EULA: "Y"
    ports:
      - "1435:1433"